<div class="landing-section" id="landingDiv">

  <div class="landing-container">

    <div class="landing-intro">

      <h2>Hello! I'm</h2>

      <h1>
        RAJESH
        <br>
        <span>CHITYAL</span>
      </h1>

    </div>

    <div class="landing-info">

      <h3>A Full Stack</h3>

      <h2 class="landing-info-h2">

        <div class="landing-h2-1">Developer</div>
        <div class="landing-h2-2">Engineer</div>

      </h2>

      <h2>

        <div class="landing-h2-info">Engineer</div>
        <div class="landing-h2-info-1">Developer</div>

      </h2>

    </div>

  </div>

  <ng-content></ng-content>

</div>