<div class="icons-section">

    <div class="social-icons" data-cursor="icons" id="social">

        <span>
            <a href="https://github.com/rajeshchityal" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        </span>

        <span>
            <a href="https://linkedin.com" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        </span>

        <span>
            <a href="https://x.com" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </span>

        <span>
            <a href="https://instagram.com" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </span>

    </div>

    <a class="resume-button" href="#">
    
        <app-hover-links text="RESUME"></app-hover-links>
    </a>

</div>